/*small Screen*/
@media only screen and (max-width: 575.98px){
 
  #fnavbar h5{
    font-size: 25px;
    text-align: center;
    padding-bottom: 2%;
  }
  #fnavbar li{
    text-align: center;
  }
  .hidd button{
    
  }
    .clogin{
    margin-left: 70%;
    margin-right: 10%;

  }
  .repan{
    margin-top: -105px;
    margin-left: 70%;
  }
.registeri{
    margin-top: -5%;
}

.navbar-icon-top.navbar-expand-sm .navbar-nav .nav-link {
    text-align: center;
    display: table-cell;
    height: 70px;
    vertical-align: middle;
    padding-top: 0;
    padding-bottom: 0;
  }

  .navbar-icon-top.navbar-expand-sm .navbar-nav .nav-link > .fa {
    display: block;
    width: 48px;
    margin: 2px auto 4px auto;
    top: 0;
    line-height: 24px;
  }

  .navbar-icon-top.navbar-expand-sm .navbar-nav .nav-link > .fa > .badge {
    top: -7px;
  } 

.homepaage{
    opacity: 75%;
    height: 370px;
    margin-top: -48px;
    background-image: url('../image/img6.jpg');
    object-position: 80% 100%;
    background-repeat: no-repeat;
    background-size: cover;
}
.homepaage h1{
    font-family:Poor Richard;
    color: orange;
    font-weight: bold;
}
.homepaage p{
    color: black;
    font-size: 20px;
}

.homepaage button{
    font-size: 25px;
    font-weight: bold;
    color: white;
    background-color: orange;
}
.findpe h1{  
    color: darkgray;
    text-decoration: underline;
    font-size: 30px;
}
.sercher input{
    width: 50%;
}

.addani{
    
    padding-right: -50px;
}

.myback{
    margin-top: -5%;
    background-image:url('../image/bg2.svg');
    background-repeat: no-repeat;
    background-size: 100%;
}

















}